<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3 order-2 sidebar-region">
      {{ content.sidebar }}
    </div>
    <div class="col-sm-12 col-md-9 order-1 main-region">
      {{ content.main }}
    </div>
  </div>
</div>
